.gifts-section {
    text-align: center;
    padding-top: 96px;
    padding-bottom: 137px;
  }
  .gifts-title {
    margin-bottom: 23px;
    font-weight: 400;
    color: var(--main-text-color);
    font-size: 32px;
    line-height: 1.18;
  }
  .gifts-text {
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 1.36;
    margin-bottom: 57px;
  }
  .gifts-cards-list {
    display: flex;
    gap: 30px;
  }
  
  .cards-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--main-text-color);
    margin-bottom: 74px;
  }
  
  .card-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-text-color);
  }
  
  .card-wrapper {
    padding: 24px;
    background-color: var(--bgd-card);
    text-align: left;
  }
  