.orange {
    background-color: var(--accent-color);
    padding-top: 80px;
    padding-bottom: 70px;
}

.orange .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orange-title {
    font-size: 32px;
    line-height: 1.41;
    margin-bottom: 25px;
}

.orange-text {
    font-size: 32px;
    line-height: 1.41;
}

.button-wrapper {
    display: flex;
    gap: 16px;
}

.button {
    min-width: 200px;
    min-height: 50px;
    background-color: var(--additional-color);
    border-radius: 5px;
    padding: 18px 25px;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    border: 1px solid var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.find {
    color: var(--secondary-color);
}

.button.how-works {
    color: var(--main-text-color);
    background-color: transparent;
}

.button:hover,
.button:focus {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}