<section class="about">
        <div class="container">
          <img
            src="./images/thanks.jpeg"
            width="721"
            height="600"
            alt="thanks"
          />
          <div class="about-wrapper">
            <h2 class="about-title">How we work</h2>
            <p class="about-text">
              We’ve actually already asked hundreds of women what they want, and
              made a database with the results. All you have to do is take our
              short survey that only takes seconds, and our proprietary
              algorithm will match you with a few perfect gift options.
            </p>
            <button type="button" class="about-btn">Learn More</button>
          </div>
        </div>
      </section>