<section class="gifts-section">
    <div class="container">
      <h2 class="gifts-title">Gifts for all Occasions</h2>
      <p class="gifts-text">
        “Try our web app to find the best gifts for all occasions”
      </p>
      <ul class="gifts-cards-list">
        <li>
          <img
            src="./images/ball.jpeg"
            alt="ball"
            width="270"
            height="270"
          />
          <div class="card-wrapper">
            <h3 class="cards-title">Birthday</h3>
            <a class="card-link link" href="">See More ›</a>
          </div>
        </li>
        <li>
          <img
            src="./images/shoes.jpeg"
            alt="shoes"
            width="270"
            height="270"
          />
          <div class="card-wrapper">
            <h3 class="cards-title">Anniversary</h3>
            <a class="card-link link" href="">See More ›</a>
          </div>
        </li>
        <li>
          <img src="./images/tag.jpeg" alt="tag" width="270" height="270" />
          <div class="card-wrapper">
            <h3 class="cards-title">Valentine's Day</h3>
            <a class="card-link link" href="">See More ›</a>
          </div>
        </li>
        <li>
          <img
            src="./images/tree.jpeg"
            alt="christmas tree"
            width="270"
            height="270"
          />
          <div class="card-wrapper">
            <h3 class="cards-title">Christmas</h3>
            <a class="card-link link" href="">See More ›</a>
          </div>
        </li>
      </ul>
    </div>
  </section>