<header class="page-header">
    <div class="container">
        <a class="logo" href="./index.html"><img width="41" height="39" src="./images/logo.png" alt="logo" /></a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list-item item">
                    <a class="nav-link link current" href="">Home</a>
                </li>
                <li class="nav-list-item item">
                    <a class="nav-link link" href="">About Us</a>
                </li>
                <li class="nav-list-item item">
                    <a class="nav-link link" href="">Services</a>
                </li>
                <li class="nav-list-item item">
                    <a class="nav-link link" href="">Blogs</a>
                </li>
            </ul>
        </nav>
        <button class="header-btn" type="button">Gift Finder</button>
    </div>
</header>