<section class="hero-section">
        <div class="container">
          <div class="hero-text-wrapper">
            <h1 class="hero-title animate__animated animate__backInRight" >Find a gift for your wife or girlfriend</h1>
            <p class="hero-text">
              Struggling to find a gift for your wife or girlfriend? No problem!
            </p>
            <button class="hero-btn" type="button">Find gift now</button>
          </div>
          <img
            width="719"
            height="700"
            src="./images/couple.jpeg"
            alt="couple"
          />
        </div>
      </section>