<section class="orange">
    <div class="container">
        <div class="orange-wrapper">
            <h2 class="orange-title">Ready to get started?</h2>
            <p class="orange-text">Sign up or contact us</p>
        </div>
        <ul class="button-wrapper">
            <li>
                <button class="button find" type="button">Find gift now</button>
            </li>
            <li>
                <button class="button how-works" type="button">
            how it works
          </button>
            </li>
        </ul>
    </div>
</section>