<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./images/slider.jpeg" alt=""></div>
        <div class="swiper-slide"><img src="./images/test.jpeg" alt=""></div>
        <div class="swiper-slide"><img src="./images/slider.jpeg" alt=""></div>
        <div class="swiper-slide"><img src="./images/test.jpeg" alt=""></div>
        <div class="swiper-slide"><img src="./images/slider.jpeg" alt=""></div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>